name: CI

# yamllint disable-line rule:truthy
on:
  push:
  pull_request: ~

jobs:
  shared-ci:
    uses: zigpy/workflows/.github/workflows/ci.yml@main
    with:
      CODE_FOLDER: smlight_cc_flasher
      CACHE_VERSION: 2
      PYTHON_VERSION_DEFAULT: 3.13
      PRE_COMMIT_CACHE_PATH:  ~/.cache/pre-commit
      MINIMUM_COVERAGE_PERCENTAGE: 0
      PYTHON_MATRIX: '"3.13"'
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}